beautifulsoup4
colorama
curl_cffi
environ
fake-useragent
ffmpy
filelock
flask
m3u8
playwright
psutil
pycurl
pycurl-requests
python-environ
pyzmq
requests
termcolor
terminaltables
urllib3
websocket-client